* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #000;
  color: white;
  font-size: 1.5rem;
  padding: 1.5rem;
  text-align: center;
}

section {
  background: #f4f4f4;
  border: 1px solid red;
  margin: 0.5rem;
  padding: 0.75rem;
  width: 80%;
}

footer {
  background: #000;
  color: wheat;
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

.scrollable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}

.body {
  flex: 1;
  max-height: calc(100vh - 10rem);
  overflow: auto;
}
